// Compare Clients
.compare {
	position: relative;
	overflow: hidden;
	margin: 0 0 rem(16px);
	color: #fff;

	.filter {
		@extend .post;
		background: $color-blue-darker !important;

		ul {
			margin-left: unset;
			list-style: none;
		}
	}

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		width: rem(16px);
		height: rem(16px);
		background: none;
		border: 1px solid #fff;

		& + label {
			display: flex;
			line-height: 1.25;
			align-items: center;

			&::before {
				content: '';
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin-right: rem(9px);
				flex-grow: 0;
				flex-shrink: 0;
				width: rem(16px);
				height: rem(16px);
				background: none;
				border: 1px solid #fff;
				box-sizing: border-box;
			}
		}

		&:focus + label {
			outline: 1px dotted #fff;
			outline-offset: rem(4px);
		}

		&:checked + label::before {
			content: '\2714\FE0E';
			font-size: 0.85em;
			color: $color-blue;
			background-color: #fff;
		}

		&:indeterminate + label::before {
			content: '-';
			font-weight: bold;
			font-family: sans-serif;
		}
	}
}

.compare-options {
	position: relative;
	overflow: auto;

	&.category {
		display: flex;
		gap: 1em;

		ul {
			margin-left: unset;
			flex-wrap: wrap;

			@media screen and (max-width: $width-mobile) {
				flex-wrap: nowrap;
			}
		}
	}
}

.compare-title {
	@extend .settings-title;
	display: block;
	font-size: 1.2rem;

	legend {
		background: $color-blue;
		padding: 0.2em 0.5em;
	}

	.compare-right {
		float: right;

		@media screen and (max-width: 495px) {
			.button-group {
				margin-bottom: 2em;
			}
		}
	}
}

.compare-list {
	display: flex;
	list-style: none;
}

.compare-child-list {
	margin-top: rem(8px);
}

.compare-list-item {
	flex-shrink: 0;
	flex-grow: 0;
	min-width: 9.5rem;
	max-width: 12rem;
	padding: 0.8rem;
	font-size: 1rem;
}

.compare-child-list-item {
	margin-top: rem(8px);
	font-size: rem(12px);
	line-height: 1.2;

	input[type="checkbox"] + label::before {
		margin-top: rem(-1.6px);
	}
}

.compare-results {
	margin-bottom: rem(16px);

	&:not(:empty) ~ .post--default {
		display: none;
	}
}

.clients-comparison {
	position: relative;
	overflow-x: auto;
}

.clients-comparison-table {
	min-width: 100%;
	border-spacing: rem(2px);
	border-collapse: separate;

	.data-family-name,
	.data-platform-name {
		min-height: 0;
	}

	tbody td {
		padding: 0 rem(16px);
		height: rem(32px);
		color: #fff;
		text-align: center;
		white-space: nowrap;
	}

	thead td,
	tbody th {
		position: sticky;
		left: 0;
		z-index: 1;
		background-color: $feature-color;
	}

	tbody th {
		padding-right: rem(16px);
		width: rem(300px);
		text-align: left;
		font-weight: normal;

		a {
			text-decoration: none;
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	tbody tr:hover {
		th a {
			text-decoration: underline;
		}

		td {
			position: relative;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(0, 0, 0, 0.25);
			}
		}
	}
}