//
// Colors
//

$color-background: #202020;

$color-blue-light: #67bfff;
$color-blue: #005A9C;
$color-blue-dark: #004D85;
$color-blue-darker: #003E6B;

$color-green: #39b54a;
$color-red: #c44230;
$color-orange: #eda745;
$color-grey: #838383;
$color-yellow: #fbd91b;
