---
title: Baseline results for WebViews
layout: default
permalink: /baseline
---

<section class="feature">
	<header class="feature-header">
		<div class="feature-header-column">
			<h1 class="feature-title">
				Baseline (⚠️ This page is under construction ⚠️)
			</h1>
		</div>
	</header>

	{% for baselinefeature in site.data.baseline %}
	<header class="feature-header">
		<div class="feature-header-column">
			<h2 class="post-title">
				{{ baselinefeature.name | xml_escape }}
			</h2>
			<div class="feature-description">
				{{ baselinefeature.description | xml_escape }}
			</div>
		</div>
	</header>
	<div class="data-details">
		<div class="data-family-list  no-behaviour ">
			{% for support in baselinefeature.supported %}
				{% case support[1] %}
					{% when 'high' %}
						{% assign stat-class-name = 'supported' -%}
					{% when 'low' %}
						{% assign stat-class-name = 'mitigated' -%}
					{% when false %}
						{% assign stat-class-name = 'unsupported' -%}
					{% when 'unknown' %}
						{% assign stat-class-name = 'unknown' -%}
					{% else %}
						{% assign stat-class-name = 'supported' -%}
				{% endcase %}

				<div class="data-family">
					<div class="data-client-list">
						<div class="data-client">
							<h4 class="data-platform-name">
								{{ support[0] }}
							</h4>
							<div class="data-versions-list">
								<div class="data-version {{ stat-class-name }}">
									<span class="data-version-number">
										{{ support[1] }}
									</span>
									<span class="data-version-badge {{ stat-class-name }}"
										aria-label="{{ site.data.nicenames.support[stat-class-name] }}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</section>
