---
layout: default
title: All HTML and CSS features on Can I WebView…
permalink: /features/
---

<div class="post">
	<div class="post-feature">
		<h1 class="post-title">Behavioural</h1>
		{% assign features-by-category = site.features | group_by:"category" %}
		{% include feature-list.html features=features-by-category %}
	</div>
	<div class="post-feature">
		<h1 class="post-title">Web Platform</h1>
		{% assign features-by-category = site.bcd | group_by:"category" %}
		{% include feature-list.html features=features-by-category %}
	</div>
</div>
