---
layout: default
title: All HTML and CSS features on Can I WebView…
permalink: /features/
---

<div class="post">
	<h1 class="post-title">Types of documentation on CanIWebView</h1>
	<p>
		CanIWebView provides different types of documentation. The most important source is
		<a href="https://developer.mozilla.org/en-US/docs/MDN/Writing_guidelines/Page_structures/Compatibility_tables">
			MDN Browser Compatibility Data (BCD)</a>,
		which allows you to check WebView support for every JavaScript API, HTML element, CSS property, or HTTP Header
		and even compare it to mobile browsers.
	</p>
	<p>
		These detailed pieces of information are called BCD keys. When grouped together, they form
		<a href="https://web-platform-dx.github.io/web-features/web-features/">web-features</a>
		that show you support for general features in less granular detail.
	</p>
	<p>
		Web-features are also available with
		<a href="https://web-platform-dx.github.io/web-features/">Baseline status</a> under the
		<a href="?cat=web_feature">web_features category</a> section of the site.
	</p>
	<p>
		Additionally, CanIWebView offers written documentation on WebView behaviours and differences that is
		documented <a href="https://github.com/WebView-CG/Compatibility-Data-Project/tree/main/_features/">here</a>.
	</p>
</div>

<div class="post">
	<div class="post-feature">
		<h1 class="post-title">Web Platform</h1>
		<h3>Automated compatability documentation about Web features and specific APIs</h3>
		{% assign features-by-category = site.generated_features | group_by:"category" %}
		{% include feature-list.html features=features-by-category %}
	</div>
	<div class="post-feature">
		<h1 class="post-title">Behavioural</h1>
		<h3>Written documentation on WebView behaviors and differences</h3>
		{% assign features-by-category = site.features | group_by:"category" %}
		{% include feature-list.html features=features-by-category %}
	</div>
</div>
